@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  /* width: 100vw; */
  @apply transition-all duration-300 ease-custom overflow-y-auto scrollbar-thin scrollbar-thumb-gray-700 scrollbar-track-gray-900;
}

@font-face {
  font-family: 'rushk';
  src: url('/fonts/Rushk.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  background-color: #13151B;
}

html,
body {
  height: 100%;
}